body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.root-container{
    width: 100%;
    min-height: 1760px;
    background-color: azure;
}

/* common tag */
.my-carousel-tag-name{
    color: dimgray;
}
.my-list-group-item{
    color: #0d6efd;
}

/* small properties */
.my-bg-color-header{
    background-color: #0d6efd;
}

.my-bg-color-content{
    background-color: azure;
}

.my-bg-color-footer{
    background-color: silver;
}

.my-menu-item:hover{
    color: azure;
}

.my-cursor-pointer {
    cursor: pointer;
}

.my-border-color-white {
    border-color: white !important;
}
.my-border-none {
    border: none !important;
}
.my-border-1px-solid-red {
    border: 1px solid rgb(173, 6, 6);
}

.my-space-10px {
    height: 10px;
}
.my-space-30px {
    height: 30px;
}

.my-width-100per {
    width: 100%;
}

.my-bg-color-royalblue {
    background-color: royalblue;
}

.my-text-color-white{
    color: white !important;
}
.my-text-color-blue{
    color: #0d6efd !important;
}
.my-text-bold {
    font-weight: bold;
}
.my-text-align-left{
    text-align: left;
}
.my-text-align-center{
    text-align: center;
}
.my-text-align-right{
    text-align: right;
}

.my-margin-right-20px{
    margin-right: 20px;
}

.my-center-v15{
    padding: 15px 0;
}
.my-center-v20{
    padding: 20px 0;
}
.my-center-v25{
    padding: 25px 0;
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body {
        background-color: darkkhaki;
    }
}